<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Tracking</ion-title>
    </ion-navbar>
    <ion-row>
        <ion-col col-12>
          <ion-list radio-group>
            <ion-row>
              <ion-col col-6 class="selected-trackby">
              <ion-item>
                    <ion-label>Ticket#</ion-label>
                    <ion-radio  (ionSelect)="selectedFilter('ticketNo')"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col col-6  class="selected-trackby">
                 <ion-item>
                    <ion-label>Date</ion-label>
                    <ion-radio  (ionSelect)="selectedFilter('date')"></ion-radio>
                </ion-item>
            </ion-col>
           </ion-row>
            </ion-list>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
           <ion-list class="animated fadeIn">
            <ion-item [hidden]="!isActiveTicketNo">
                  <ion-label floating>Enter Ticket Number</ion-label>
                  <ion-input [(ngModel)]="searchTerm"  [formControl]="searchTicketControl" (ionInput)="onSearchInput()"></ion-input>
                  <!--  -->
              </ion-item>
              <div class="selected-bydate">
              <ion-item [hidden]="!isActiveDate">
                  <ion-label>Start Date</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [min]="minSelectableYear" [(ngModel)]="startDate" [formControl]="searchDateControl"></ion-datetime>
              </ion-item>
              <ion-item  [hidden]="!isActiveDate">
                <ion-label>End Date</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"  [min]="minSelectableYear" [(ngModel)]="endDate"  [formControl]="searchDateControl"></ion-datetime>
              </ion-item>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>
</ion-header>
<ion-content>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
  <ion-list>
    <div *ngIf="isActiveTicketNo === true">
      <button ion-item  (click)="presentModal()">
          <ion-chip>
              <ion-icon ios="ios-cube" md="md-cube"></ion-icon>
          </ion-chip>
          <span class="title">{{searchResults?.Ticket_No}}</span><br>
          <div class="item-note " item-end>
              {{searchResults?.DeliveryByDate | date}}
          </div>
     </button>
    </div>
     <div *ngIf="isActiveDate === true">
     <button *ngFor="let bydate of Results" ion-item  (click)="presentModal()">
        <ion-chip>
            <ion-icon ios="ios-cube" md="md-cube"></ion-icon>
        </ion-chip>
            <!-- <ion-icon [name]="item.icon " item-start></ion-icon> -->
        <span class="title">{{bydate.Ticket_No}}</span><br>
        <div class="item-note " item-end>
            {{bydate.DeliveryByDate | date}}
        </div>
   </button>
  </div>
  </ion-list>
</ion-content>
