page-track {
  .spinner-container {
      width: 100%;
      text-align: center;
      padding: 10px;
      display: block;
      top: 5px;
  }
  .title,
  .detail {
      line-height: 25px;
      letter-spacing: 1.2px;
      word-spacing: 1.3px;
      font-weight: 500;
  }
}
