<ion-header>
    <ion-toolbar>
      <ion-title>
        Order Details
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
          <ion-item>
            <h2 [style.text-transform]="capitalize">Ticket#:</h2>
            <ion-note item-end>
              {{searchResults?.Ticket_No}}
            </ion-note>
          </ion-item>
          <ion-item>
              <h2 [style.text-transform]="capitalize">Description:</h2>
              <ion-note item-end>
              {{searchResults?.Description}}
              </ion-note>
            </ion-item>
        <ion-item>
          <h2 [style.text-transform]="capitalize">Pickup Time:</h2>
          <ion-note item-end>
          {{searchResults?.PickUpTime}}
          </ion-note>
        </ion-item>
        <ion-item>
            <h2 [style.text-transform]="capitalize">Pickup Date:</h2>
            <ion-note item-end >
                {{searchResults?.PickUpDate | date}}
         </ion-note>
          </ion-item>
          <ion-item>
           <h2 [style.text-transform]="capitalize">Delivery Time:</h2>
            <ion-note item-end>
            {{searchResults?.DeliveryByTime}}
            </ion-note>
          </ion-item>
          <ion-item>
              <h2 [style.text-transform]="capitalize">Delivery Date:</h2>
              <ion-note item-end >
                  {{searchResults?.DeliveryByDate | date}}
              </ion-note>
            </ion-item>
            <ion-item>
                <h2 [style.text-transform]="capitalize">Order Quantity:</h2>
                <ion-note item-end>
                 {{searchResults?.Quantity}}
                </ion-note>
              </ion-item>
          <ion-item>
              <h2 [style.text-transform]="capitalize">Order Status:</h2>
              <ion-note item-end>
              {{searchResults?.Status}}
              </ion-note>
            </ion-item>
            <ion-item>
                <h2 [style.text-transform]="capitalize">Status Code:</h2>
                <ion-note item-end>
                {{searchResults?.StatusCode}}
                </ion-note>
              </ion-item>
      </ion-list>
    </ion-content>
