<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MAIN MENU</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <!-- <ion-row>
        <ion-col class="grid-items animated slideInLeft">
            <div class="grid-content">
                <i class="icon la la-qrcode la-4x"></i>
                <span>ORDER STATUS</span>
            </div>
        </ion-col>
    </ion-row> -->
    <ion-row>
        <ion-col class="grid-items" on-click="openOrderPage()">
            <div class="grid-content">
                <img class="icon" src="/assets/icon/icons8-in-transit-64.png">
                <span>Place Order</span>
            </div>
        </ion-col>
        <ion-col class="grid-items" on-click="openTrackingPage()">
            <div class="grid-content">
                <img class="icon" src="/assets/icon/icons8-eye-64.png">
                <span>Track Order</span>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="grid-items" on-click="openAddressBookPage()">
            <div class="grid-content">
                <img class="icon" src="/assets/icon/icons8-address-book-64.png">
                <span>Address Book</span>
            </div>
        </ion-col>
        <ion-col class="grid-items" on-click="openHelpPage()">
          <div class="grid-content">
              <img class="icon" src="/assets/icon/icons8-help-64.png ">
              <span>Help</span>
          </div>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
