<ion-menu [content]="content" menuClose>
    <ion-header>
        <div class="header-background-image">
            <img src="assets/images/logo/logo-bg.png">

            <!-- <h2 item-title text-center class="welcome"><i  class="icon icon-user" ></i>Welcome:<strong></strong></h2> -->
        </div>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon icon-small item-left>
              <i class="icon {{p.icon}}"></i>
            </ion-icon>
            {{p.title}}
      </button>
        </ion-list>
        <ion-item style="background-color: #f1f0f0 !important;">
            <ion-icon icon-small item-left><i class="icon ion-ios-phone-portrait-outline"></i></ion-icon>
            (212) 376-4500
        </ion-item>
        <ion-item style="background-color: #f1f0f0 !important;">
            <ion-icon icon-small item-left><i class="icon icon-email-outline"></i></ion-icon>
            ordersupport@deluxedelivery.com
        </ion-item>
        <button menuClose ion-item style="background-color: #f1f0f0 !important;" ion-item (click)="logout()">
        <ion-icon icon-small item-left><i class="icon ion-ios-logout"></i></ion-icon>
         Logout
    </button>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
