<!-- Themes Login + logo -->
<ion-content has-header white-background>
    <ion-grid>
        <ion-row wrap padding>
            <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <!---Logo-->
                <img src="../../assets/images/logo/logo.png" class="logo-center">
                <!---Input field username-->
                <form (ngSubmit)="register(registerForm)" [formGroup]="registerForm">
                    <ion-item no-padding transparent>
                        <ion-label floating>Username</ion-label>
                        <ion-input formControlName="userId" class="input-box" required type="text">Username</ion-input>
                    </ion-item>
                    <!---Input field password-->
                    <ion-item no-padding transparent>
                        <ion-label floating>Password</ion-label>
                        <ion-input formControlName="password" class="input-box" required type="password"></ion-input>
                    </ion-item>
                    <ion-label floating></ion-label>
                    <!---Login button-->
                    <button class="btn-primary" ion-button block [disabled]="loginForm.invalid">Register</button>
                </form>
                <button ion-button clear block (click)="help()">Need Help?</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>