<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title>Order</ion-title>
  </ion-navbar>
</ion-header>

<!--Theme Styled cards 2-->
<ion-content has-header>
  <ion-grid no-padding>
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">
          <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                  <ion-card text-left>
                      <ion-card-title class="card-title">
                          <h1 card-subtitle><strong>Requestor</strong></h1>
                      </ion-card-title>
                      <ion-card-content>
                          <ion-item no-padding transparent>
                              <ion-label floating></ion-label>
                              <ion-input formControlName="caller_Name" class="input-box" type="text" placeholder="Caller Name"></ion-input>
                          </ion-item>
                            <ion-item no-padding transparent>
                                <ion-label floating></ion-label>
                              <ion-input formControlName="caller_Phone" class="input-box" type="text" placeholder="Phone"></ion-input>
                            </ion-item>
                            <ion-item no-padding transparent>
                                <ion-label floating></ion-label>
                               <ion-input formControlName="caller_Extension" class="input-box" type="text" placeholder="Extention"></ion-input>
                            </ion-item>
                            <ion-item no-padding transparent>
                                <ion-label floating></ion-label>
                                <ion-input formControlName="pickup_Contact" class="input-box" type="text" placeholder="pickupContact"></ion-input>
                            </ion-item>
                            <ion-item no-padding transparent>
                                <ion-label floating></ion-label>
                                <!-- <ion-input formControlName="pickUpDate" class="input-box" placeholder="Enter Pickup Date"></ion-input> -->
                                <ion-datetime formControlName="pickUpDate" class="input-box" displayFormat="YYYY/MM/DD" pickerFormat="YYYY/MM/DD" [(ngModel)]="pickupDate" [min]="minSelectableDate" type="date" placeholder="Pickup Date"></ion-datetime>
                            </ion-item>
                            <ion-item no-padding transparent>
                              <ion-label floating></ion-label>
                              <!-- <ion-input formControlName="pickUpTime" class="input-box" placeholder="TIme"></ion-input> -->
                              <ion-datetime formControlName="pickUpTime" class="input-box" displayFormat="HH:mm:a" pickerFormat="h:mm:a" [(ngModel)]="pickupTime" type="time" placeholder="Delivery Time"></ion-datetime>
                          </ion-item>
                     </ion-card-content>
                  </ion-card>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                  <ion-card text-left>
                      <ion-card-title class="card-title">
                          <h1 card-subtitle><strong>Reference</strong></h1>
                      </ion-card-title>
                      <ion-card-content>
                        <ion-item>
                            <ion-input formControlName="budget" class="input-box" type="text" placeholder="Budget"></ion-input>

                        </ion-item>
                          <ion-item no-padding transparent>
                              <!-- <div formGroupName="reference"> -->
                              <ion-label floating></ion-label>
                              <ion-input formControlName="department" class="input-box" type="text" placeholder="Department"></ion-input>
                              <!-- </div> -->
                          </ion-item>
                      </ion-card-content>

                  </ion-card>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                  <ion-card text-left>
                      <ion-card-title class="card-title">
                          <h1 card-subtitle><strong>Delivery Address Book</strong></h1>
                      </ion-card-title>
                      <ion-card-content>
                          <ion-item no-padding transparent>
                              <!-- <div  formGroupName="addressBook"> -->
                              <ion-label floating></ion-label>
                              <ion-input formControlName="customerRef" class="input-box" type="text" placeholder="Customer Refference"></ion-input>
                              <!-- </div> -->
                          </ion-item>
                      </ion-card-content>
                  </ion-card>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                  <ion-card text-left>
                      <ion-card-title class="card-title">
                          <h1 card-subtitle><strong>Job & Service Type</strong></h1>
                      </ion-card-title>
                      <ion-card-content>
                        <ion-item no-padding transparent>
                            <ion-select [(ngModel)]="servicetype" formControlName="serviceType" class="input-box" type="select" placeholder="Service Type">
                                <ion-option *ngFor="let servicetype of serviceTypes">{{servicetype.Type}}</ion-option>
                            </ion-select>
                            <ion-label floating></ion-label>
                            <ion-select [(ngModel)]="jobtype" (ionChange)="logChosen()" formControlName="jobType" class="input-box" type="select" placeholder="Job Type">
                              <ion-option (ionSelect)="autoComplete(jobtype)" *ngFor="let jobtype of jobTypes">{{jobtype}}</ion-option>
                            </ion-select>
                        </ion-item>
                      </ion-card-content>
                  </ion-card>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                  <ion-card text-left>
                      <ion-card-title class="card-title">
                          <h1 card-subtitle><strong>PickUp Address</strong></h1>
                      </ion-card-title>
                      <ion-card-content>
                          <ion-item  no-padding transparent>
                              <!-- <ion-input  class="input-box" type="text" [formControl]="searchControl" [(ngModel)]="searchTerm" [hidden]="isPickupSearchInactive"  (ionChange)="setFilteredAddress()" placeholder="Search Address"></ion-input> -->
                              <ion-input  formControlName="pickup_Company" class="input-box" type="text" [(ngModel)]="pickupcompany"  placeholder="Company"></ion-input>
                              <ion-input formControlName="pickup_Street" [(ngModel)]="pickupstreet" class="input-box" type="text" placeholder="Street"></ion-input>
                              <ion-input formControlName="pickup_Floor"  [(ngModel)]="pickupfloor" class="input-box" type="text" placeholder="Floor"></ion-input>
                              <ion-input formControlName="pickup_City"  [(ngModel)]="pickupcity" class="input-box" type="text" placeholder="City"></ion-input>
                              <ion-label floating></ion-label>
                              <ion-select formControlName="pickup_State"  [(ngModel)]="pickupstate" class="input-box" type="select" placeholder="State">
                                  <!-- <ion-option *ngFor="let state of states">{{state}}</ion-option> -->
                                  <ion-option>NY</ion-option>
                              </ion-select>
                              <ion-input formControlName="pickup_ZipCode" [(ngModel)]="pickupzip" delivery class="input-box" type="text" placeholder="Zip Code"></ion-input>
                              <ion-input formControlName="pickup_Contact"  delivery class="input-box" type="text" placeholder="Contact Name"></ion-input>
                              <ion-input formControlName="pickup_Phone"  [(ngModel)]="pickupphone" class="input-box" type="phone" placeholder="Contact Phone"></ion-input>
                              <ion-input formControlName="pickup_Extension"  [(ngModel)]="pickupextension" class="input-box" type="text" placeholder="Extension"></ion-input>
                              <ion-textarea formControlName="pickup_Instruction"  [(ngModel)]="pickupinstruction" class="input-box" type="text" placeholder="Instruction"></ion-textarea>
                          </ion-item>
                      </ion-card-content>

                  </ion-card>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                  <ion-card text-left>
                      <ion-card-title class="card-title">
                          <h1 card-subtitle><strong>Delivery Address</strong></h1>
                      </ion-card-title>
                      <ion-card-content>
                          <ion-item no-padding transparent>
                              <!-- <div formGroupName="deliveryAddress"> -->
                              <ion-input  class="input-box" type="text" [formControl]="searchControl" [(ngModel)]="searchTerm" [hidden]="isDeliverySearchInactive" (ionChange)="setFilteredAddress()" placeholder="Search Address"></ion-input>
                              <ion-input formControlName="delivery_Company" [(ngModel)]="deliverycompany" class="input-box" type="text" placeholder="Company"></ion-input>
                              <ion-input formControlName="delivery_Street" [(ngModel)]="deliverystreet" class="input-box" type="text" placeholder="Street"></ion-input>
                              <ion-input formControlName="delivery_Floor" [(ngModel)]="deliveryfloor" class="input-box" type="text" placeholder="Floor"></ion-input>
                              <ion-input formControlName="delivery_City" [(ngModel)]="deliverycity" class="input-box" type="text" placeholder="City"></ion-input>
                              <ion-label floating></ion-label>
                              <ion-select formControlName="delivery_State" [(ngModel)]="deliverystate" class="input-box" type="select" placeholder="State">
                                  <!-- <ion-option *ngFor="let state of states">{{state}}</ion-option> -->
                                  <ion-option>NY</ion-option>
                              </ion-select>
                              <ion-input formControlName="delivery_Contact" class="input-box" type="phone" placeholder="Contact Phone"></ion-input>
                              <ion-input formControlName="delivery_ZipCode" [(ngModel)]="deliveryzip" class="input-box" type="text" placeholder="Zip Code"></ion-input>
                              <ion-input formControlName="delivery_Phone" [(ngModel)]="deliveryphone" class="input-box" type="text" placeholder="Contact Name"></ion-input>
                              <ion-input formControlName="delivery_Extention" [(ngModel)]="deliveryextension" class="input-box" type="text" placeholder="Extention"></ion-input>
                              <ion-textarea formControlName="delivery_Instruction" [(ngModel)]="deliveryinstruction" class="input-box" type="text" placeholder="Instructions"></ion-textarea>
                              <!-- </div> -->
                          </ion-item>
                      </ion-card-content>

                  </ion-card>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                  <ion-card text-left>
                      <ion-card-title class="card-title">
                          <h1 card-subtitle><strong>Service Details</strong></h1>
                      </ion-card-title>
                      <ion-card-content>
                          <ion-item no-padding transparent>
                              <ion-item no-padding transparent>
                                  <ion-input formControlName="workOrder" class="input-box" type="text" placeholder="Work Order"></ion-input>
                              </ion-item>
                              <ion-select formControlName="description" class="input-box" type="select" placeholder="Description">
                                  <ion-option *ngFor="let description of jobDescription">{{description}}</ion-option>
                              </ion-select>
                              <ion-label floating></ion-label>
                              <ion-select formControlName="rush" class="input-box" type="select" placeholder="Rush">
                                  <ion-option *ngFor="let rushOption of rushJobOptions">{{rushOption}}</ion-option>
                              </ion-select>
                              <ion-input formControlName="quantity" class="input-box" type="number" placeholder="Quantity"></ion-input>
                              <ion-textarea formControlName="instruction" type="text" placeholder="Instructions"></ion-textarea>
                              <!-- </div> -->
                          </ion-item>
                      </ion-card-content>
                  </ion-card>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                  <ion-card text-left>
                      <ion-card-title class="card-title">
                          <h1 card-subtitle><strong>Email Notification </strong></h1>
                      </ion-card-title>
                      <ion-card-content>
                          <ion-item no-padding transparent>
                              <ion-input formControlName="notificationEmail" class="input-box" type="text" placeholder="Email Address"></ion-input>
                          </ion-item>
                          <!-- <ion-item no-padding transparent>
                              <ion-input formControlName="email2" class="input-box" type="text" placeholder="Email Address"></ion-input>
                          </ion-item>
                          <ion-item no-padding transparent>
                              <ion-input formControlName="email3" class="input-box" type="text" placeholder="Email Address"></ion-input>
                          </ion-item> -->
                      </ion-card-content>

                  </ion-card>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                  <ion-item>
                      <!---Submit Order button-->
                      <button ion-button button-clear-outline outline block type="submit">Submit</button>
                  </ion-item>
              </ion-col>
          </ion-row>
      </form>
  </ion-grid>
</ion-content>
