<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>New Address</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="backToHome()">
                Done
            <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" color="light"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<!--Theme Styled cards 2-->
<ion-content has-header>
    <ion-grid no-padding>
        <form [formGroup]="addressForm" (ngSubmit)="addAddress(addressForm)">
            <ion-row>
                <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                    <ion-card text-left>
                        <ion-card-title class="card-title">
                            <h1 card-subtitle><strong>Address Details</strong></h1>
                        </ion-card-title>
                        <ion-card-content>
                            <ion-item no-padding transparent>
                                <ion-input  formControlName="company" class="input-box" required type="text" placeholder="Company"></ion-input>
                                <ion-input  formControlName="street" class="input-box" required type="text" placeholder="Street"></ion-input>
                                <ion-input    formControlName="floor" class="input-box" required type="text" placeholder="Floor"></ion-input>
                                <ion-input   formControlName="city" class="input-box" required type="text" placeholder="City"></ion-input>
                                <ion-label floating></ion-label>
                                <ion-select  formControlName="state"
                                 class="input-box" required type="select" placeholder="State">
                                 <ion-option *ngFor="let state of states">{{state}}</ion-option>
                                </ion-select>
                                <ion-input  formControlName="zip" class="input-box" required type="text" placeholder="Zip Code"></ion-input>
                                <ion-input   formControlName="phone" class="input-box" required type="phone" placeholder="Contact Phone"></ion-input>
                                <ion-input  formControlName="ext" class="input-box" required type="text" placeholder="Extention"></ion-input>
                                <ion-textarea  formControlName="instructions" class="input-box" required type="text" placeholder="Instructions"></ion-textarea>
                                <ion-input  formControlName="contact"class="input-box" required type="text" placeholder="Contact person"></ion-input>
                            </ion-item>
                            <button  ion-button button-clear-outline outline block [disabled]="addressForm.invalid" type="submit">Save Changes</button>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>
