<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Manage Address</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addAddress()">
            <ion-icon  ios="ios-add-circle" md="md-add-circle" color="light"></ion-icon>
        </button>
        </ion-buttons>
        <!--class="plus-icon "-->
    </ion-navbar>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl"  placeholder="Search Address" (ionInput)="onSearchInput()"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
</ion-header>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="let address of searchResults" (click)="editAddress(address) ">
            <ion-chip>
                    <ion-icon ios="ios-home" md="md-home"></ion-icon>
            </ion-chip>
                <!-- <ion-icon [name]="item.icon " item-start></ion-icon> -->
            <span class="title">{{address.Company}}</span><br>
             <span  class="detail">{{address.Street}}</span>
            <div class="item-note" item-end>
                {{address.State}}
            </div>
         </button>
    </ion-list>
</ion-content>



<!-- <div *ngIf="editAddress " padding>
        You navigated here from <b>{{address.company}}</b>
    </div> -->
