page-address-book {
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
        display: block;
        top: 5px;
    }
    .title,
    .detail {
      line-height: 25px;
      letter-spacing: 1.2px;
      word-spacing: 1.3px;
      font-weight: 600;
      text-transform:  capitalize;
      padding: 0 0 0 35px;
    }
    .detail{
      padding: 0 0 0 75px;
    }
    .item-note{
      text-transform: capitalize;
    }
}
