<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>Update Address</ion-title>
        <ion-buttons end>
           <button ion-button icon-only (click)="editEnabled()">
              Edit
              <ion-icon ios="ios-create" md="md-create"></ion-icon>
           </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<!--Theme Styled cards 2-->
<ion-content has-header>
    <ion-grid no-padding>
        <form [formGroup]="editForm" (ngSubmit)="updateAddress(editForm)">
            <ion-row>
                <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4>
                    <ion-card text-left>
                        <ion-card-title class="card-title">
                            <h1 card-subtitle><strong>Address</strong></h1>
                        </ion-card-title>
                        <ion-card-content>
                            <ion-item no-padding transparent>
                                <ion-input [readonly]="displayDetailsOnly" formControlName="company" class="input-box" required type="text" placeholder="Company"></ion-input>
                                <ion-input [readonly]="displayDetailsOnly" formControlName="street" class="input-box" required type="text" placeholder="Street"></ion-input>
                                <ion-input [readonly]="displayDetailsOnly" formControlName="floor" class="input-box" required type="text" placeholder="Floor"></ion-input>
                                <ion-input [readonly]="displayDetailsOnly" formControlName="city" class="input-box" required type="text" placeholder="City"></ion-input>
                                <ion-label floating></ion-label>
                                <ion-select formControlName="state" class="input-box" required type="select" placeholder="State">
                                    <ion-option *ngFor="let state of states">{{state}}</ion-option>
                                </ion-select>
                                <ion-input  [readonly]="displayDetailsOnly" formControlName="zip" class="input-box" required type="text" placeholder="Zip Code"></ion-input>
                                <ion-input [readonly]="displayDetailsOnly" formControlName="phone" class="input-box" required type="phone" placeholder="Contact Phone"></ion-input>
                                <ion-input [readonly]="displayDetailsOnly" formControlName="ext" class="input-box" required type="text" placeholder="Extention"></ion-input>
                                <ion-textarea [readonly]="displayDetailsOnly" formControlName="instructions" class="input-box" required type="text" placeholder="Instructions"></ion-textarea>
                                </ion-item>
                            <button [hidden]="displayDetailsOnly" [disabled]="editForm.invalid" ion-button button-clear-outline outline block type="submit">Save Changes</button>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

    <!-- <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons> -->

    <!-- <ion-list>
        <ion-item *ngFor="let address of addressBook  | async" (click)="editSong(address.id, address.title)">
            {{address.title}}
        </ion-item>
    </ion-list> -->
</ion-content>
